@import "../components/octicons/octicons.css";
html {
  height: 100%;
}
html body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
html header {
  flex: none;
}
html main {
  flex: 1 0 auto;
  width: 100%;
}
html footer {
  flex: none;
}
.banner-style {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: #ffffff;
}
header {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: #ffffff;
}
header .top-bar {
  color: #06d25e;
  font-size: 1.3em;
}
header .top-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
header .top-bar a {
  padding: 1.3rem;
  display: block;
  color: #00b04d;
  text-decoration: none;
}
header .top-bar a:hover {
  background-color: #f8fffa;
  color: #06d25e;
}
header .top-bar a:target {
  transition-property: background-color;
  transition-duration: 1s;
  background-color: gray;
}
header .message {
  height: 12em;
  color: #ffffff;
  background: #00b04d;
  text-align: center;
}
header .message .reasons {
  width: 75%;
  margin: auto;
  padding-top: 1.5rem;
}
main {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: #ffffff;
  text-align: center;
}
footer {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: #ffffff;
  background: #c1f9e5;
}
footer h4 {
  color: #00b04d;
  text-align: center;
}
.gh-username {
  font-style: italic;
}
.gh-info {
  display: flex;
  justify-content: center;
  margin: 1.3em 0;
}
.gh-info gh-repos {
  width: 90%;
  padding: 50px;
}
