html {
  height: 100%;
}
html body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
html header {
  flex: none;
}
html main {
  flex: 1 0 auto;
  width: 100%;
}
html footer {
  flex: none;
}
.banner-style {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: #f8fffa;
}
header {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: #f8fffa;
}
header .top-bar {
  color: #06d28c;
  font-size: 1.3em;
}
header .top-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
header .top-bar li {
  padding: 1.3rem;
}
header .top-bar a {
  color: #00b07b;
  text-decoration: none;
}
header .message {
  height: 12em;
  color: #ffffff;
  background: #06d28c;
  text-align: center;
}
main {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: #f8fffa;
  text-align: center;
}
footer {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: #f8fffa;
  background: #c1f9e5;
}
footer h4 {
  color: #00b07b;
  text-align: center;
}
.gh-username {
  font-style: italic;
}
.gh-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.3em 0;
}
.gh-info gh-profile {
  width: 50%;
  padding: 50px;
}
