.banner-style {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: @white;
}

header {
	.banner-style();

	.top-bar {
		color: @light-green;
		font-size: 1.3em;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: flex-start;
		}

		a {
			padding: 1.3rem;
			display: block;
			color: @dark-green;
			text-decoration: none;
		}
		a:hover {
			background-color: @off-white;
			color: @light-green;
		}
	}

	.message {
		height: 12em;
		color: @white;
		background: @light-green;	
		text-align: center;

		.reasons {
			width: 75%;
			padding-top: 2.3rem;
		}
	}
}

main {
	.banner-style();

	text-align: center;
}

footer {
	.banner-style();

	background: @blue-green;

	h4 {
		color: @dark-green;
		text-align: center;
	}
}
