<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-ajax/core-ajax.html">

<polymer-element name="gh-repos" attributes="username">
	<template>
		<link rel="stylesheet" href="../octicons/octicons.css">
		<style>
			h2 {
				color: #00b04d;
				text-decoration: underline;
			}
			#gh-summary {
				display: flex;
				flex-wrap: wrap;
			}
			#github-avatar {
				flex: 1;
				width: 15%;
				height: 15%;
				border-radius:15%;
			}
			.repos {
				/* put this is media query for larger screens*/
				flex: 1;
				text-align: left;
				list-style: none;
				border-radius: 3px;
				background-color: #00b04d;
				padding: 5px;
			}
			.repos li {
				padding: 5px;
			}
			.repos a {
				display: block;
				text-decoration: none;
				color: #F8FFFA;
			}
			.repos a:hover {
				background-color: #F8FFFA;
				color: #06D25E;
			}
			.repo-name {
				font-weight: bold;
			}
		</style>
		<core-ajax 
			auto 
			url="https://api.github.com/users/{{username}}/repos" 
			handleAs="json" 
			response="{{resp}}">
		</core-ajax>
		<h2>{{username}} repos</h2>
		<section id="gh-summary">
			<ul class="repos">
				<template repeat="{{ r in resp }}">
					<li>
						<a href="{{ r.html_url }}">
							<template if="{{ r.fork }}">
								<span class="octicon octicon-repo-forked"></span>
							</template>
							<template if="{{ !r.fork }}">
								<span class="octicon octicon-repo"></span>
							</template>
							<span class="repo-name">{{ r.name }}</span> {{ r.description }}
						</a>
					</li>
				</template>
			</ul>
		</section>
	</template>

	<script>
		Polymer({

		});
	</script>
</polmer-element>